*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/example/help_code/
/app/src/test/java/com/example/help_code/
/.idea/
/gradle/wrapper/gradle-wrapper.jar
/maskededittext/
/app/google-services.json
/app/client_secret_241729830852-fal9tnu7fv978hv7mi9d4pdmbbnbjdjl.apps.googleusercontent.com.json
/app/mytest-d3b9f-firebase-adminsdk-5398o-1622e44538.json
/test_file.json
