*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/src/androidTest/java/com/example/help_code/
/app/src/test/java/com/example/help_code/
/.idea/
/gradle/wrapper/gradle-wrapper.jar
/maskededittext/
